<%- include("./partials/header") %>
<h2 class="carrito-title">Carrito</h2>
<div class="grid">
    <span><strong>Producto</strong></span>
    <span><strong>Precio por unidad</strong></span>
    <span><strong>Cantidad</strong></span>
    <span><strong>Subtotal</strong></span>
    <span><img src="public/images/torta-sofia.jpg"><label>Torta Sofia</label></span>
    <span>$2.400,00</span>
    <span><select name="cantidad">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select></span>
    <span>$2.400,00</span>
    <span></span>
    <span></span>
    <span><strong>Subtotal</strong></span>
    <span><strong>$2.200,00</strong></span>
    <span></span>
    <span></span>
    <span><strong>Impuestos</strong></span>
    <span><strong>$2.200,00</strong></span>
    <span></span>
    <span></span>
    <span><strong>Total</strong></span>
    <span><strong>$2.200,00</strong></span>
</div>
<div class="botones">
    <button class="boton_carrito" type="reset">Volver</button>
    <button class="boton_carrito" type="submit">Comprar</button>
</div>
<%- include("./partials/footer") %>