<%- include("./partials/header") %>
<div class="container-crear-prod">
    <div class="subcontainer-crear-prod">
        <h3>Creación de producto</h3>
        <form method="POST" action="/productos/create">
            <label>Nombre</label>
            <input type="text" name="name" placeholder="Ej: Chocotorta">
            <label>Precio (ARS-$)</label>
            <input type="text" name="price" placeholder="Ej: 200">
            <label>Descuento (%)</label>
            <input type="text" name="discount" placeholder="Ej: 15">
            <label>Descripcion</label>
            <textarea type="text" name="description"
                placeholder="Ej: Esponjosa, dulce y con un sutil sabor a ron. Dulce de leche y trocitos de chocolate amargo."></textarea>
            <label>Categoria</label>
            <select>
                <option>Seleccione...</option>
                <% categories.forEach(categorie => {%>
                    <option name="prod_categ_id" value="<%= categorie.prod_categ_id %>"><%= categorie.name %></option>
                <% });%>
            </select>
            <form method="POST" action="action.cgi" enctype="multipart/form-data">
                <input type="file" name="image">
            </form>
            <button type="submit">Crear</button>
        </form>
    </div>
</div>
<%- include("./partials/footer") %>