<%- include("./partials/header") %>
<div class="container-crear-prod">
    <div class="subcontainer-crear-prod">
        <h3>Creación de producto</h3>
        <form method="POST" action="/productos/create">
            <label>Nombre</label>
            <input type="text" name="name" placeholder="Ej: Chocotorta">
            <label>Precio (ARS-$)</label>
            <input type="text" name="price" placeholder="Ej: 200">
            <label>Descuento (%)</label>
            <input type="text" name="discount" placeholder="Ej: 15">
            <label>Descripcion</label>
            <textarea type="text" name="description"
                placeholder="Ej: Esponjosa, dulce y con un sutil sabor a ron. Dulce de leche y trocitos de chocolate amargo."></textarea>
            <label>Categoria</label>
            <select name="prod_categ_id">
                <option>Seleccione...</option>
                <% for (let i = 0; i < categories.length; i++) { %>
                    <option value="<%= categories[i].prod_categ_id %>"><%= categories[i].name %></option>
                <% };%>
            </select>
            <label for="image">Imagen</label>
            <input type="text" name="image" placeholder="Ej ruta imagen">
            <button type="submit">Crear</button>
        </form>
    </div>
</div>
<%- include("./partials/footer") %>