<%- include("./partials/header") %>
<h2>Usuarios</h2>
<ul>
    <% for (let i = 0; i < users.length; i++) { %>
        <li>
          <a href="/usuarios/<%=users[i].user_id %> ">
            <%= users[i].first_name + ' ' + users[i].last_name %>
          </a>
        </li>
      <% } %>
</ul>
<%- include("./partials/footer") %>